@font-face {
    font-family: Borel;
    src: url('../fonts/Borel-Regular.ttf');
}
@font-face {
    font-family: Titulo;
    src: url('../fonts/PressStart2P-Regular.ttf');
}
@font-face {
    font-family: subtitulo;
    src: url('../fonts/BungeeSpice-Regular.ttf');
}